*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.konga-image-one{
    background-image: url("images/kongaprime.png");
    height: 50px;
    width: 100%;
}
.konga-travel ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* margin: 30px; */
    text-align: center;
    justify-content: center;
    
}
.konga-travel ul li{
    margin: 20px;
    list-style: none;
}
.store ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: #ed017f;
    height: 70px;
}
.store ul li{
    list-style: none;
    margin-right: 15px;
    margin-top: 20px;
    margin: 20px;
    
}
.store ul li a{
    text-decoration: none;
    color: #fff;
    /* margin-left: 5px; */
}
.boga{
    width: 200px;
    position: relative;
    top: 0;
    left: -4px;
}
#search{
width: 400px;
padding: 8px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
background-color: #fff;
border: 1px solid #fff;
text-decoration: none;
}

.store-locator:hover{
width: 80px;
height: 120px;
background-color: #fff;
padding-top: 20px;
color:  #ed017f ;

}

.store-locator a:hover{
    color:  #ed017f ;
}

.jop {
    width: 60px;
    padding: 8px;
    background-color: #fba100;
/* border-radius: 5px;  */
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}
.jop li{
    width: 60px;
    padding: 8px;
    background-color: #fba100;
    color: #fff;
}
.mycart{
    display: flex;
    width: 150px;
    margin: 15px;
    margin-left: 50px;
    /* justify-content:space-around ; */
    background-color:rgb(50, 161, 50);
    color: #fff;
    font-size: 14px;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    list-style: none;
    background-color: rgb(109, 21, 39);

}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.konga-phones{
    width: 70%;
    float: left;
}
body{
    background-color:rgb(239, 245, 247) ;
}
.parker{
    /* float: left; */
    margin: 8px;
}
.park{
    float: left;
    margin: 3px;
}
section{
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 100%;
}
main{
     margin-left: 15px
    /* margin-right: 20px;  */
    width: 100%;
}
.book-flight ul {
/* padding: 10px;
font-size: 15px; */
width: 100%;
display: flex;
justify-content: space-around;
border-radius: 5px;
list-style: none;
margin: 10px;
}
.recommed{
    /* width: 100%; */
    display: flex;
    background-color: #fff;
    padding: 17px;
    margin-left: 45px;
    margin: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.for-you{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.See-All-Items{
    margin-left: 40px;
}
.See-All-Items a{
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(15, 15, 43);
}
.See-All-Items a:hover{
    text-decoration: underline;
}
.container{
   width:  100%;
    height: 370px;
    background-color: #fff;
    padding: 2px;
    margin-left: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* padding-top: 10px; */
}
.content{
    float: left;
width:  390px;
 height: 160px;
padding: 15px;
background-color: #fff;
box-shadow: 0px 5px 8px 0px 
rgba(94, 74, 74, 0.4);
margin: 15px;

border-radius: 2px;
margin-top: 8px;
/* padding-top: 15px; */

}
.mycard{
    width:  390px;
    height: 160px;
   padding: 15px; 

}
.imaga{
    width: 130px;
    position: relative;
    top: -20px;
}
.thermal{
    width: 150px;
    font-size: 15px;
    position: relative;
    top: -150px;
    left: 140px;

}
.price{
    position: relative;
    top: -130px;
    left: 140px;
    font-weight:bold;
}
.video-games{
    width: 100%;
    height: 220px;
    background-color: #fff;
    display: flex;
    margin:15px;
    border-radius: 7px;
}
.video-games li{
    display: flex;
    margin: 5px;
    padding: 3px;
}
.ink{
    width: 100%;
    background-color: #fff;
    margin: 15px;
    padding: 8px;
    margin-top: 21px;
    border-radius: 6px;
    justify-content: center;
}
.labtops-bags{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    background-color: #fff;
    width: 100%;
    padding: 4px;
    border-radius: 7px;
}
.lap{
    margin: 5px;
    
}
.homes{
    margin: 5px;
}
.Sponsored{
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius:7px ;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.wrapper{
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-top: 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.wrapex{
    float: left;
    width: 240px;
    height: 370px;
    box-shadow: 0px 5px 8px 0px 
    rgba(94, 74, 74, 0.4);
    margin-left: 15px ;
    /* margin: 15px ; */
     
}
.card{
    width: 240px;
    height: 370px;
    /* padding: 10px; */
    /* margin-top: 10px;  */
}
.offprice{
    position: relative;
    top: 10px;
width: 65px;
height: 30px;
padding: 8px;
padding-bottom: 18px;
/* text-align: center; */
background-color: red;
font-size: 13px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: normal;
color: #fff;
border-bottom-right-radius: 16px;
border-top-right-radius: 16px;
/* margin-top: 10px; */
}
.imagaj{
    /* padding: 8px; */
    position: relative;
    top: 10px;
    left: 10px;
}
.situp{
    font-size: 15px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.current-amount{
    position: relative;
    top: 10px;
    font-size: 18px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.old-amount{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: initial;
    text-decoration:line-through ;
    color: lightgrey;
}
.you-save{
    position: relative;
    top: ;
    font-size: 11px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(37, 87, 37);
}
.better{
    position: relative;
    width: 100%;
}
.better .best-image{
/* background-image: url("images/bestselling.png");
background-repeat: no-repeat;
background-size: cover;
position:absolute;
z-index: -1; */
}
.Sponsoreded{
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    background-color: rgb(43, 39, 39);
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius:7px ;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #fff;

}

.ourcard{
    float: left;
    width: 305px;
    border-radius: 17px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 17px;
}
.computing{
    width: 305px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.cardbody{
    width: 305px;
    height: 190px;
    background-color: #fff;
    padding-top: 40px;
    padding-left: 16px;
    position: relative;
    top: -4.5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.get-discounter{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: darkgray;
 
}
.upto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
    padding-top: 13px;

}
.shopnow{
    padding-top: 30px;
    color: mediumvioletred;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.hp-laptop{
     width: 100%; 
     margin-top: 20px;
}
.intel{
    /* margin-top: 20px; */
     width: 100%; 
    display: flex;
    flex-direction: row;
    
    margin-left: 15px;
    
}
.intel li{
    list-style: none;
    margin: 1px;
}

.intel-two{
    width: 100%; 
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    position: relative;
    top: -5px;
}
.intel-two li{
    list-style: none;
    margin: 1px;
}
.online{
    width: 100%;
    height: 230px;
    background-color: #fff;
    margin-left: 15px;
    /* margin-right: 15px; */
    border-radius: 5px;
    margin-top:7px ;
}
.largest{
padding: 15px;
position: relative;
top: 20px;
font-size: 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(34, 33, 33);
font-weight: normal;
/* margin-top: 10px; */
}
.we-pride{
    width: 100%;
    
    position: relative;
    top: 30px;
    left: 15px;
    line-height: 20px;
    color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    /* text-align: justify; */
}
.emiel{
    display: flex;
   max-width:  110%;
   margin-top: 25px;
    /* margin-left: 15px; */
    background-color: rgb(53, 50, 50);
}
.support{
    width: 350px;
    margin-left: 15px;
    position: relative;
    top: 0;
    left: 10px;
}
.jop{
    position: relative;
    top: 20px;
    left: -7px;
    /* width: 80px; */
    font-size: 30px;
    background-color: #fff;
    /* padding: 10px; */
    /* padding-left: 15px; */
    text-align: center;
    /* padding-right: 30px; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.mail{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -38px;
    left: 60px;
    color: #fff;
}
.helpkonga{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -25px;
    left: 60px; 
    color: #fff;
    font-weight: normal;
}

.suppt{
    /* width: 350px; */
    /* margin-left: 15px; */
    width: 320px;
    position: relative;
    left: -100px;
}
.jops{
    width: 60px;
    height: 60px;
    position: relative;
    top:20px ;
    left: ;
    /* width: 80px; */
    font-size: 30px;
    background-color: #fff;
    /* padding: 10px; */
    /* padding-left: 15px; */
    text-align: center;
    /* padding-right: 30px; */
    border-radius: 50%;
}
.mailer{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -38px;
    left: 65px;
    color: #fff;
}
.helpkongaga{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -25px;
    left: 63px;
    color: #fff;
    font-weight: normal;
}
.supp{
    /* width: 320px;
    position: relative;
    top: 0;
    left:-0.25px ; */
}
.deal{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 22px;
    left: -80px; 
    color: #fff;
}
.sent{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 33px;
    left: -80px;
    color: #fff;
    font-weight: normal; 
}
.subscribe{
    width: 380px; 
    display: flex;
    position: relative;
    top: 22px;
    left: -50px;
    /* padding: 10px; */
    /* background-color: #fff; */
}
.subs{
    width: 300px;
    height: 45px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: rgb(41, 39, 39);
}
.cribe{
    width:100px ;
    height: 45px;
    background-color: rgb(226, 7, 124);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 17px;
}
.about-kong{
    width: 110%;
    height: 370px;
    justify-content: space-around;
    display: flex;
    background-color: rgb(10, 10, 10);
    padding-left: -4px;
    padding-top: 25px;
    padding-right: 30px;
    
}
.about-kong a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(175, 169, 169);
    line-height: 30px;
    font-weight: normal;
    list-style: none;

}
.about-kong h3 a{
    font-size: 15px;
    font-weight: bold;
    line-height: 55px;
}
.about-kong h3 a:hover{
    color: #fff;
}
.about-kong ul{
    list-style: none;
    /* text-align: justify; */
    font-size: 12px;
}
.about-kong ul li a:hover{
    color: #fff;
}
.foru{
    width: 120px;
    position: relative;
    top: 0;
    left: -7px;
}
.forumu{
    width: 75px;
    /* background-color: lavender; */
    position: relative;
    top: 0;
    left: -40px;
}
.forumax{
    width: 150px;
    /* background-color: #fff; */
    position: relative;
    top: 0;
    left: -77px;
}
.forumay{
    width: 85px; 
    /* background-color: lavender; */
    position: relative;
    top: 0;
    left: -120px;
}
.foruawj{
    width: 190px;
    /* background-color: lavender; */
    position: relative;
    top: 0;
    left: -140px;
}
.foruawg{
    width: 400px; 
    /* background-color: lavender; */
    position: relative;
    top: 0;
    left: -120px;
}
.uplong{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.uplong h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 15px;

}
.uplong h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;  
    font-size: 10px;
    font-weight: normal;
}
.storest{
    position: relative;
    top: -15px;
}
.down-on{
     width: 140px; 
     height: 60px;
    background-color: #000;
    position: relative;
    top: 0;
    left: -60px;
    padding: 7px;
    border-radius: 7px;
}
.on-down{
    background-color: #000;
}
.loadest{
    position: relative;
    top: 0px;
    left: 40px;
}
.storest{
    position: relative; 
    top: -35px;
    left: 40px;
}
.load-on{
    position: relative;
    top: -15px;
    left: 5px;
    
}
.on-down{
    width: 140px; 
    height: 60px;
   background-color: #000;
   position: relative;
   top: 0;
   left: 0px;
   padding: 7px;
   border-radius: 7px;
}
.load-onog{
    position: relative;
    top: -15px;
    left: 5px;
}
.downest{
    position: relative;
    top: 0px;
    left: 45px;
}
.bobo{
display: flex;
margin: 5px;
/* justify-content: space-around; */
}
.jop{
    width: 60px;
    height: 60px;
    position: relative;
    top:20px ;
    left: ;
    /* width: 80px; */
    font-size: 30px;
    /* background-color: rgb(27, 26, 26); */
    /* padding: 10px; */
    /* padding-left: 15px; */
    text-align: center;
    /* padding-right: 30px; */
    border-radius: 50%;
    margin: 5px;
}
.jop:hover{
background-color: #fff;
 color: blue; 
}
.opeyeg{
display: flex;
flex-direction: row;
justify-content: ;
width: 100%;
margin-top: 70px;
text-align: center;
}
.bordr-one{
    position: relative;
    top: 20px;
    left: -10px;
    width: 800px;
    text-decoration: underline;
    border-bottom:1px solid gray;
}
